<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Teletica</title>

    <!--[if !mso]><!-- -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap" rel="stylesheet">
    <!--<![endif]-->
    <!--Repara Bug en Outlook 2013-->
    <!--[if gte mso 9]><xml>
      <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
    </xml><![endif]-->

    <style type="text/css">
        a {
            text-decoration: none;
        }

            a:hover {
                text-decoration: none !important;
            }

        img {
            display: block;
        }
    </style>

</head>


<body style="margin: 0; padding: 0; background-color: #FFFFFF;" bgcolor="#FFFFFFF">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%;">
        <tbody>
            <tr>
                <td align="center">
                    <!--[if gte mso 9]>
                    <table border="0" cellpadding="0" width="800" id="outlookContainer">
                    <tr>
                    <td align="center" valign="top">
                    <![endif]-->

                    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td bgcolor="#f5f5f5" height="10" style="line-height: 1px; font-size: 1px; height: 10px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td bgcolor="#f5f5f5">
                                    <table bgcolor="#f5f5f5" width="540" border="0" cellspacing="0" cellpadding="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td align="left"><img src="https://static3.teletica.com/assets/teletica/build/img/email/teletica.jpg" alt="Teletica" width="250" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#f5f5f5" height="10" style="line-height: 1px; font-size: 1px; height: 10px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td bgcolor="#0c2446" height="5" style="line-height: 1px; font-size: 1px; height: 5px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <table bgcolor="#ffffff" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <table width="540" border="0" cellspacing="0" cellpadding="0" align="center">
                                                        <tbody>
                                                            <tr>
                                                                <td height="60" bgcolor="#FFFFFF" style="line-height: 1px; font-size: 1px; height: 60px;">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" bgcolor="#FFFFFF">
                                                                    <table border="0" cellspacing="0" cellpadding="0" width="65">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="65" height="4" bgcolor="#0c2446" style="line-height: 1px; font-size: 1px; width: 65px; height: 4px;">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="100%" height="8" style="line-height: 1px; font-size: 1px; width: 100%; height: 8px;">&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" bgcolor="#FFFFFF">
                                                                    <h3 style="margin: 0;padding:0;font-family: 'Roboto', Helvetica, Arial, sans-serif;font-weight: 700;font-size: 31px; color: #1b1b1b;">
                                                                        Has sido invitado a unirte a Teletica
                                                                    </h3>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="50" bgcolor="#FFFFFF" style="line-height: 1px; font-size: 1px; height: 50px;">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" bgcolor="#FFFFFF">
                                                                    <table width="30" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="30" height="2" bgcolor="#0c2446" style="line-height: 1px; font-size: 1px; width: 30px; height: 2px;">&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="10" bgcolor="#FFFFFF" style="line-height: 1px; font-size: 1px; height: 10px;">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" bgcolor="#FFFFFF">
                                                                    <p style="margin: 0;padding:0;font-family: 'Roboto', Helvetica, Arial, sans-serif;font-weight: 300;font-size: 16px; color: #0c2446; line-height: 130%;">
                                                                        Hola <strong>*|Fullname|*,</strong>
                                                                        <br><br>
                                                                        Tu usuario ha sido creado. <br />
                                                                        Sigue este enlace para activar tu cuenta:
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="50" bgcolor="#FFFFFF" style="line-height: 1px; font-size: 1px; height: 50px;">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td bgcolor="#FFFFFF" align="center">
                                                                    <table width="300" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td bgcolor="#0c2446" width="300" height="40" style="background-color: #0c2446; width:300px; height: 40px; text-align:center; color: #ffffff; text-decoration:none !important; font-size: 13px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: bold; border-radius: 4px;text-transform: uppercase" valign="middle" align="center">
                                                                                    <a href="*|Url|*" style="color: #ffffff; text-decoration: none !important; font-size: 13px; line-height: 40px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: bold; width:100%;height:100%;display: block;text-transform: uppercase">
                                                                                        Confirmar registro
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="50" bgcolor="#FFFFFF" style="line-height: 1px; font-size: 1px; height: 50px;">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td height="1" bgcolor="#dddddd" style="line-height: 1px; font-size: 1px; height: 1px;">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td height="15" bgcolor="#FFFFFF" style="line-height: 1px; font-size: 1px; height: 15px;">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td height="30" bgcolor="#FFFFFF">
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left" valign="top">
                                                                                    <p style="margin: 0;padding: 0;font-family: 'Roboto', Helvetica, Arial, sans-serif;font-weight: 400;font-size: 13px;color: #888888;letter-spacing: .5px;">
                                                                                        Copyright © 2019 Teletica. Todos los derechos reservados.


                                                                                    </p>
                                                                                </td>
                                                                                <td align="right" valign="middle">
                                                                                    <a href="http://ray.media/" border="none" target="_blank"><img src="https://static3.teletica.com/assets/teletica/build/img/email/ray.jpg" alt="Ray" width="75" border="0"></a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="10" bgcolor="#FFFFFF" style="line-height: 1px; font-size: 1px; height: 10px;">&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="100" bgcolor="#FFFFFF" style="line-height: 1px; font-size: 1px; height: 100px;">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>

                    <!--[if gte mso 9]>
                        </td>
                      </tr>
                    </table>
                    <![endif]-->
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>